.aipage{
    min-height: 100vh;
    margin-bottom: 100px;
  }
  .club_heading{
    color: white;
    font-size: 60px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* text-align: center; */
    
    
  
  }

  .logo{
    height: 70px;
    width: 70px;
    transform: translate(0,-2px);
    margin-right: 15px;
  }

  .heading_section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding-bottom: 20px;
    position: relative;
    
    

  }

  .heading_section::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    border-bottom: 3px double #ccc;
    
    width: 80%;
    transform: translate(-50%,0);

  

 }

 .mainSection{
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
  /* align-items: center; */
  position: relative;
  padding-bottom: 100px;

  
 }



.events1 {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 10px;
}
 .events2,
 .events1{
  
  margin-left: 15%;
  font-size: 20px;

  



  


 } 

 .upcomingEvents{
  margin-bottom: 40px;
 }

 .month{
  color: aqua;
  font-size: 25px;
  position: relative;
  margin-bottom: 30px;
 }

 .month::before{
  content: '';
  position: absolute;
  border-bottom: 2px solid aqua;

  width: 60%;
  left:155px;
  transform: translate(0,15px);



 }

 .eventbox{
  width: 71% ;
  display: grid;
  grid-template-columns: 140px 1fr;
  /* column-gap: 20px; */
  font-size: 20px;
  align-items: center;
  /* justify-content: center; */
 }

 .datebox{
  color: aqua;
  text-align: center;

  /* line-gap-override: 40px; */
  border-right: 4px solid aqua;
  /* background-color: red; */
 }

 /* .dateno{
  margin-bottom: 1px;
 } */

 .eventDetails{
  margin-left: 30px;
  /* background-color: red; */
  
 }
 .eventDetails .name{
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 10px;
  /* color: green; */
 }

 

 .eventDetails a{
  text-decoration: none;
  color: rgb(37, 107, 237);
  margin-left: 1.5px;
 }
  

 .mainSection::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  border-bottom: 3px double #ccc;
  
  width: 80%;
  transform: translate(-50%,0);



}

 .mycard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 2px 4px 0 white;
  transition: 0.3s;
  padding: 2px 30px;
  display: inline-block;
  border-radius: 5px; /* 5px rounded corners */
  text-align: center;

}

/* On mouse-over, add a deeper shadow */
.mycard:hover {
  box-shadow: 0 4px 8px 0 white;
}

/* Add some padding inside the card container */
.member-card{
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.members{
  margin-top: 100px;
  margin-bottom: 50px;
}


.members h1,
.aboutus h1,
.aipage h1{
  background: -webkit-linear-gradient(rgb(0, 149, 255), rgb(21, 215, 21));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* border-bottom: 1.5px solid #ccc; */
    position: relative;
    text-align: center;
    padding-bottom: 10px;
    


 }



 .members h1::before,
 .aboutus h1::before,
 .aipage h1::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  border-bottom: 1.5px double #ccc;
  
  width: 200px;
  transform: translate(-50%,0);
  

}

.aboutus img{
  width: 600px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 100px;
  /* margin-left: 40px; */
  
}

.aboutusflex{
  padding-top: 40px;
  align-items: center;
  /* justify-content: center; */
  display: flex;
  /* column-gap: 50px; */
  font-size: 40px;
  margin: 0px 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
