

.topnav {
  overflow: hidden;
  background-color: rgb(38, 38, 38);
  
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}



.topnav input[type=text] {
  float: none;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-left: 30px;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

body{
  background-color: rgb(38, 35, 35);
}

.mytable{
  
    border: 3px solid #ccc;
    border-collapse: collapse;
    padding: 0;
    width: 800px;
    table-layout: fixed;
    position: relative;
    margin-bottom: 8rem;
    left: 50%;
    transform: translate(-50%,0);

    background-image: linear-gradient(to bottom right, rgb(0, 149, 255), rgb(21, 215, 21));  
    
  }

  .mycaption {
    
    margin: 20px;
    font-size: 30px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }

  .headrow{
    padding: 10px;
    border-bottom: 2px solid rgb(66, 64, 64) ;
  }

  .number{
    text-align: center;
  }

  .headnumber{
    width: 10%;
    border-right: 1px solid #ccc;

  }

  .myrow{
    border-bottom: 1px solid #ccc;
  }

  .headname{
    padding: 10px;
  }

  .clubname{
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-left: 10px;

  }
  .clubname a{
    text-decoration: none;
    color: black;
  }

  .clubname a:hover{
    font-style: oblique;

  }
  .number{
    border-right: 1px solid #ccc;
  }

  @media screen and (max-width: 900px){
    .mytable{
      width: 100%;
    }
  }
  




