body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mycaption {
  caption-side: top;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.133);
  backdrop-filter: blur(8px); 
  border-radius: 10px; 
}

.glassmorphism:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.078); 
}

